<footer class="py-5 bg-dark">
    <div class="container">
        <ul class="list-inline text-center">
            <li class="list-inline-item" style="font-size: 24px">
                <a href="https://twitter.com/CirpanDogukan">
                    Twitter
                </a>
            </li>
            <li class="list-inline-item" style="font-size: 24px">
                <a href="https://www.linkedin.com/in/dogukan-cirpan">
                    Linkedin
                </a>
            </li>
            <li class="list-inline-item" style="font-size: 24px">
                <a href="https://github.com/dokanc">
                    Github
                </a>
            </li>
        </ul>
        <p class="m-0 text-center text-white">Copyright © CIRPAN Dogukan 2019
        </p>
    </div>
</footer>