<!-- NAV BAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="../public/">Mon blog en PHP !</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../public/">Accueil</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../public/?page=user!register">S'enregistrer</a>
                </li>
            </ul>

            {% if session.user.username is defined %}
            <div class="rounded-top my-2 my-lg-0">
                <a class="btn btn-danger ml-auto" data-toggle="modal" data-target="#logout">Se déconnecter</a>
                <p class="font-weight-bolder nav-item ml-2 d-inline"> Bonjour {{ session.user.username }}</p>
            </div>
            {% else %}
            <div class=" rounded-top my-2 my-lg-0">
                <a class="btn btn-warning ml-auto" data-toggle="modal" data-target="#login">Se connecter</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>

<!-- login  -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold">Identification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-group has-success connect " method="post" action="../public/?page=user!login">
                    <label for="emaillog" class="col-form-label">Votre email :</label>
                    <input class="form-control ftext" id="emaillog" name="emaillog" type="email" value="{{ email }}"
                        placeholder="Email">
                    <small class="form-text text-danger">{{ error.emailLog }}</small>
                    <label for="passwordlog" class="col-form-label">Votre password :</label>
                    <input class="form-control ftext" id="passwordlog" name="passwordlog" type="password"
                        placeholder="******">
                    <small class="form-text text-danger">{{ error.passwordLog }}</small>
                    <button class="btn btn-outline-dark btn-md mt-3 mx-auto" type="submit">Connexion</button>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- logout -->
<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logout" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold">Se déconnecter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                Souhaitez-vous réellement fuire du blog ?
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger float-right" href="../public/?page=user!logout">Se déconnecter</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>