{% extends 'layout/layout.twig' %}

{% block title %}
<title>Accueil</title>
{% endblock %}

{% block content %}

<div class="row align-items-center my-5">
    <div class="col-lg-4">
        <img class="img" src="./img/photo.jpg" alt="">

    </div>
    <div class="col-lg-8">
        <h1 class="font-weight-light">CIRPAN Dogukan</h1>
        <p style="text-align:justify">Actuellement en formation Développeur d'application - PHP / Symfony chez
            Openclassrooms.
            Ma réussite professionnelle étant mon objectif principal, je souhaite acquérir de l'expérience dans divers
            domaines tels que le développement d'applications php et javascript. Je suis capable de travailler en
            autonomie dans un environnement dynamique. L'informatique a toujours été une passion et je souhaite en faire
            mon métier.</p>
        <a class="btn btn-primary" href="#">Télécharger mon CV</a>
    </div>
</div>

<div class="well well-sm">
    <form class="form-horizontal" action="" method="post">
        <fieldset>
            <legend class="text-center">Contactez moi</legend>

            <!-- Name input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="name">Nom Prénom</label>
                <div class="col-md-12">
                    <input id="name" name="name" type="text" placeholder="Nom Prénom" class="form-control">
                </div>
            </div>

            <!-- Email input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="email">Adresse e-mail</label>
                <div class="col-md-12">
                    <input id="email" name="email" type="text" placeholder="Adresse e-mail" class="form-control">
                </div>
            </div>

            <!-- Message body -->
            <div class="form-group">
                <label class="col-md-3 control-label" for="message">Votre message</label>
                <div class="col-md-12">
                    <textarea class="form-control" id="message" name="message"
                        placeholder="Veuillez entrer votre message ..." rows="5"></textarea>
                </div>
            </div>

            <!-- Form actions -->
            <div class="form-group">
                <div class="col-md-1 text-right">
                    <button type="submit" class="btn btn-primary btn-lg">Envoyer</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}